

.main{
    display: flex;
    gap: 55px;
}

.sub{
    display: flex;
}

.nav{

    font-size: 10px;
    position: relative;
    top: 5px;
}

/* .light{
    background-color: white;
    color: black;
  }
  
  .dark{
    background-color: black;
    color: white;
  } */
